<div class="container mt-4">
    <h2 class="d-inline">Dashboard</h2>
    <small class="d-inline">Welcome back, <%= user.name %></small>
    <a href="/users/logout" class="btn btn-danger float-right">Logout</a>
</div>