<div class="jumbotron">
    <h2 class="d-inline">Passport.js Local Authentication</h2><h5 class="d-inline">(v1.0)</h5>
    <small class="d-block">Using Node.js & Express</small>
    <hr>
    <p>Developed by <strong>Vihanga R.De Silva</strong> for <a href="https://github.com/imVihangaSilva">GitHub</a></p>
    <div class="btn-area">
        <a href="/users/register" class="btn btn-primary">Register</a>
        <a href="/users/login" class="btn btn-outline-primary">Login</a>
    </div>
</div>